// Animation settings.
// The wiki explains how to configure individual animations:
// https://yalter.github.io/niri/Configuration:-Animations

// check out the available animations after home-manager activation:
//
//    ls ~/.config/niri/config/nirimation/
//    ls ~/.config/niri/config/shaders/
//
//include "nirimation/explode.kdl"
//include "shaders/smoke.kdl"

include "nirimation/roll-drop.kdl"

// override the workspace-switch animations
animations {
  workspace-switch {}
}
