// HDMI monitor
output "DP-3" {
    // If the mode is omitted altogether or is invalid, niri will pick one automatically.
    // Run `niri msg outputs` while inside a niri instance to list all outputs and their modes.
    mode "2560x1440@59.95100"

    // You can use integer or fractional scale, for example use 1.5 for 150% scale.
    scale 1

    // Transform allows to rotate the output counter-clockwise, valid values are:
    // normal, 90, 180, 270, flipped, flipped-90, flipped-180 and flipped-270.
    transform "normal"

    position x=0 y=0
}

// scratchpad window sizes on laptop's screen
window-rule {
    match app-id="nemo"
    default-column-width { fixed 1157; }
    default-window-height { fixed 736; }
}

window-rule {
    match app-id="spotify"
    default-column-width { fixed 1596; }
    default-window-height { fixed 1240; }
}

window-rule {
    match app-id="org.pulseaudio.pavucontrol"
    default-column-width { fixed 1438; }
    default-window-height { fixed 846; }
}
