// --------- layer rules ---------

layer-rule {
    match namespace="^notifications$"
    block-out-from "screencast"
}

layer-rule {
    match namespace="swaync-control-center"
    shadow {
        on
        softness 40
        spread 5
        offset x=0 y=5
        draw-behind-window true
    }
}

layer-rule {
    match namespace="waybar"
    opacity 0.75
    //block-out-from "screencast"

    shadow {
        on
        softness 40
        spread 5
        offset x=0 y=5
        draw-behind-window true
    }

    geometry-corner-radius 1
    //baba-is-float true
}

layer-rule {
    match namespace="^launcher$"
    //opacity 0.9
}

layer-rule {
    match namespace="^wallpaper$"
    place-within-backdrop true
}
